<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>RegistrAPP</ion-title>

    <ion-tab-button slot="end" href="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label class="ion-text-center">Bienvenido {{nombre}}</ion-label>
  <br>
  <ion-text color="primary">
    <h1>Menú Principal</h1>
  </ion-text>

</ion-content>


