<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Ingreso de Usuario</h1>
  </ion-text>

  <ion-item>
    <ion-label>Nombre de Usuario</ion-label>
    <ion-input placeholder="Ej: vi.verdugob" #nombre></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña </ion-label>
    <ion-input placeholder="*****" type="password" #clave></ion-input>
  </ion-item>

  <ion-button (click)="ingresar(nombre, clave)" (click)="recuperar(nombre, clave)" expand="block" shape="round">
    Ingresar
  </ion-button>


</ion-content>
